includes:
    - phpstan.neon.dist

parameters:

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            identifier: missingType.generic

    doctrine:
        # ormRepositoryClass: MyApp\Doctrine\BetterDocumentRepository
        # odmRepositoryClass: MyApp\Doctrine\BetterDocumentRepository
        # ormRepositoryClass: app\Repository\UserRepository
        ormRepositoryClass: app\Doctrine\ServiceEntityRepository
        odmRepositoryClass: app\Doctrine\ServiceEntityRepository
        objectManagerLoader: tests/object-manager.php
        # objectManagerLoader: build/phpstan/doctrine-orm-bootstrap.php
        allowNullablePropertyForRequiredField: true

    treatPhpDocTypesAsCertain: false

    # checkGenericClassInNonGenericObjectType: false

    strictRules:
        booleansInConditions: false

    cognitive_complexity:
        class: 50
        function: 8
